@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/static/Inter-Bold.woff2") format("woff2"),
    url("/assets/fonts/static/Inter-Bold.woff") format("woff"),
    url("/assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/static/Inter-Regular.woff2") format("woff2"),
    url("/assets/fonts/static/Inter-Regular.woff") format("woff"),
    url("/assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/static/Inter-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/static/Inter-SemiBold.woff") format("woff"),
    url("/assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 62.5%; /* 1rem = 10px para facilitar los cálculos */
}

:root {
  /* VARIABLES DE FUENTE */
  --font-family: "Inter", sans-serif;

  /* TIPOGRAFÍA */
  --font-size-heading: 2.4rem;
  --font-size-body: 1.4rem;

  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-weight-semiBold: 600;

  --line-height: 1.5;
  --letter-spacing-normal: 0px;

  /* COLOR */
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey700: hsl(0, 0%, 20%);
  --Grey800: hsl(0, 0%, 12%);
  --Grey900: hsl(0, 0%, 8%);

  /* SPACING */
  --spacing500: 4rem;
  --spacing300: 2.4rem;
  --spacing200: 1.6rem;
  --spacing150: 1.2rem;
  --spacing100: 0.8rem;
  --spacing50: 0.4rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

body{
    height: 100dvh;
    width: 100dvw;
}

main{
    background-color: var(--Grey900);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.socialCard{
    background-color: var(--Grey800);
    width: 32.7rem;
    height: 57.9rem;
    padding: var(--spacing300);
    border-radius: 1.2rem;
}

.profile__content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing300);
}

.profile__content img{
    width: 8.8rem;
    height: 8.8rem;
    border-radius: 50%;
}

.profile__content--info{
    width: 100%;
    text-align: center;
    height: 6.1rem;
}

.profile__content--info h2{
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-semiBold);
    line-height: var(--line-height);
    letter-spacing: 0;
    color: var(--White);
}

.profile__content--info h3,
.placeholder {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height);
    letter-spacing: 0;
}

.profile__content--info h3{
    color: var(--Green);
}

.profile__content--bio{
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height);
    letter-spacing: 0;
    color: var(--White);
}

.profile__content--links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile__content--links button{
    height: 4.5rem;
    border-radius: 0.8rem;
    background-color: var(--Grey700);
    border: none;
    transition: all .2s ease-out;
}

.profile__content--links button:hover{
    background-color: var(--Green);
    cursor: pointer;
}

.profile__content--links button:hover a{
    color: var(--Grey700);
}

.profile__content--links a{
    color: var(--White);
    text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--White);
  position: absolute;
  top: 96dvh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.attribution a {
  color: var(--White);
}

@media (480px <= width <= 768px) { 

    .socialCard{
        width: 45.6rem;
        height: 61.1rem;
    }

 }

 @media (width >= 768px) {
    .socialCard{
        width: 38.4rem;
        height: 61.1rem;
    }
 }
